#
org.eclipse.jdt.core.prefs
#
target
target-ide
bin
#
.classpath
.settings
.project
.factorypath
.DS_Store
.includepath
.factorypath
#
*.iml
*.orig
*.iml
*.ipr
*.iws
*.ids
*.zip
*.swp
*.BACKUP*
*.LOCAL*
*.REMOTE*
*.BASE*
**/spy.log
*.*~
*.log
*.class
#
.metadata/
*.metadata
.springBeans
**/logs/
logs/**
out
rebel.xml
Servers
Tomcat v*
build
.gradle
